.paperStyle {
    padding: 20px;
    text-align: center;
    background-color: yellowgreen !important;
   }
  
  .linkStyle {
    text-decoration: none;
  }
  
  /* Define class for buttonStyle */
  .buttonStyle {
    padding: 12px 24px;
    cursor: pointer;
    background-color: skyblue !important;
    border-radius: 5px;
    margin-top: 16px;
  }

  body{
    background-color : lightcyan;
  }
  