.heading {
    margin-left: 8px;
}  

.headingContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}  
  
.tableRow {
    transition: background-color 0.2s ease;
  }
  
.tableRow:hover {
    background-color: #f0f0f0;
  }
  