.heading {
    margin-left: 20px;
}  

  
  .primaryButton {
    background-color: #1976d2;
  }
  
  .secondaryButton {
    background-color: green;
  }
  
  .tableRow {
    transition: background-color 0.2s ease;
  }
  
  .tableRow:hover {
    background-color: #f0f0f0;
  }
  