.heading {
  margin-left: 8px;
  font-size: 20px;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  margin-top: 26px;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.search {
  display: flex;
  align-items: center;
}

.label {
  font-size: 18px;
  margin-left: 8px;
  margin-right: 10px;
}

.tableRow {
  transition: background-color 0.2s ease;
}

.tableRow:hover {
  background-color: #f9f9f9;
}

.rowheader {
  padding: 10px !important;
}
