.headerpart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  font-size: 18px;
  margin-left: 8px;
  margin-right: 10px;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.heading {
  margin-left: 8px;
}

.tableRow {
  transition: background-color 0.2s ease;
}

.tableRow:hover {
  background-color: #f9f9f9;
}

.rowheader {
  padding: 10px !important;
}
