.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5aa4e6;
  padding: 10px;
}

.whole {
  display: flex;
  align-items: center;
}

.left {
  cursor: pointer;
  margin-right: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 8px;
}

.modalTitle {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.modalDescription {
  margin-bottom: 20px;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
}
