body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  text-align: center;
  min-height: 100vh;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.2s;
  cursor: pointer;
  text-align: center;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
}

.card:hover {
  transform: translateY(-5px);
  background-color: lightskyblue;
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cardContent h5 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.cardContent p {
  font-size: 1.2rem;
  color: #777;
}
